# Server
APP_ENV=development
SERVER_PORT=7003

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# Slave DB (falls back to master values if not set)
DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5432
DB_SLAVE_USER=postgres
DB_SLAVE_PASSWORD=your_password
DB_SLAVE_NAME=goapp_db
DB_SLAVE_SSLMODE=disable

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRY_HOURS=24

# mail-jet
MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_SENDER_EMAIL=
MAILJET_SENDER_NAME=

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# AWS S3
AWS_REGION=ap-south-1
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET=